@define-color primary #cba6f7;
@define-color secondary #313244;
@define-color background #0f0f16;
@define-color surface #313244;
@define-color on-primary #0f0f16;
@define-color on-secondary #cdd6f4;
@define-color on-background #cdd6f4;
@define-color on-surface #cdd6f4;

* {
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;
    font-size: 13px;
    border-radius: 0px !important;
}

*:selected {
    color: @on-primary;
    background-color: @primary;
}

/* Window */
window {
    margin: 0px;
    padding: 0px;
    border: 1px solid rgba(150, 150, 180, 0.25);
    border-radius: 0px;
    background-color: @background;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 500px;
}

/* Slide In */
@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Inner Box */
#inner-box {
    margin: 0px;
    padding: 0px;
    border: none;
    color: @on-background;
    background-color: transparent;
    min-height: 440px;
    /* animation: fadeIn 0.5s ease-in-out both; */
}

/* Fade In */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Outer Box */
#outer-box {
    margin: 0px;
    padding: 0px;
    background-color: @background;
}

/* Scroll */
#scroll {
    margin: 0px;
    border: none;
    border-radius: 0px;
    min-width: 480px;
}

/* Input */
#input {
    padding: 6px 8px;
    border: none;
    border-radius: 0px;
    color: @on-background;
    font-weight: 600;
    background-color: rgba(40, 40, 55, 0.7);
    outline: none;
    /* animation: fadeIn 0.5s ease-in-out both; */
}

#input:focus {
    border: 1px solid @primary;
    background-color: rgba(203, 166, 247, 0.1);
}

/* Text */
#text {
    color: @on-surface;
    font-weight: 500;
    /* animation: fadeIn 0.5s ease-in-out both; */
}

/* Entry */
#entry {
    margin: 0;
    padding: 1px 3px;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    transition: all 0s ease-in-out;
    min-height: 48px;
}

/* Zebra-stripe effect for even entries */
#entry:nth-child(even) {
    background-color: #14141e;
}


/* Selected Entry */
#entry:selected {
    background-color: @primary;
    border-radius: 4px;
}

#entry:selected #text {
    color: @on-primary;
}

#entry:hover {
    background-color: rgba(120, 120, 170, 0.2);
}

/* Image */
#img {
    margin-right: 10px;
    padding: 2px;
}

#img:selected {
    background-color: transparent;
}

